.facility-card {
    color: white;
    border-radius: 10px;
    background: linear-gradient(135deg, #0e1f1b, #dfd0b8);
    width: 150px;
    height: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3); /* Ganti border dengan shadow */
    margin: 0 auto;
}


.facility-icon {
    width: 60px;
    height: 60px;
    transition: all 0.3s ease;
    filter: brightness(0) saturate(300%) invert(76%) sepia(40%) saturate(450%)
        hue-rotate(10deg) brightness(90%) contrast(84%);
}

.facility-card p {
    opacity: 0;
    transform: translateX(40%);
    transition: all 0.3s ease;
    position: absolute;
    bottom: 20px;
    color: #ffffff;
    max-width: 100%; /* Membatasi lebar teks */
    white-space: normal; /* Mengizinkan teks turun ke baris baru */
    text-align: center; /* Memastikan teks berada di tengah */
    line-height: 1.2; /* Mengatur tinggi baris untuk teks yang turun */
    font-size: 1rem; /* Mengatur ukuran font */
}

/* Saat hover pada card */
.facility-card:hover .facility-icon {
    width: 40px;
    height: 40px;
    transform: translateY(-30px); /* Ikon mengecil dan naik */
}

.facility-card:hover p {
    opacity: 1;
    transform: translateX(0); /* Teks muncul dari kanan dan berposisi center */
}

.facility-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 20px; /* Margin negatif untuk mengurangi jarak keseluruhan */
    margin-right: 20px; /* Margin negatif untuk mengurangi jarak keseluruhan */
}

/* Mengatur layout facility di perangkat mobile menjadi 2x2 */
@media (max-width: 600px) {
    .facility-container {
        display: grid;
        grid-template-columns: repeat(
            2,
            1fr
        ); /* 2 kolom pada perangkat mobile */
        margin-left: -25px; /* Hilangkan margin negatif di perangkat kecil */
        margin-right: 20px;
    }

    .facility-card {
        width: 160px;
        height: 160px;
    }

    .facility-icon {
        width: 60px;
        height: 60px;
        position: relative;
        z-index: 1;
        margin-bottom: 45px; /* Jarak antara ikon dan teks */
        transition: all 0.3s ease;
        filter: brightness(0) saturate(300%) invert(76%) sepia(40%) saturate(450%)
            hue-rotate(10deg) brightness(90%) contrast(84%);
        animation: slideUp 0.5s ease forwards;
    }

    .facility-card p {
        opacity: 1;
        bottom: 0px;
        transform: translateX(0);
        animation: slideInFromRight 1s ease forwards;
    }

    .row-background {
        padding-bottom: 10px !important;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(30px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        opacity: 0;
        transform: translateX(40%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Responsif untuk perangkat di bawah 600px */
@media (max-width: 600px) {
    .title-section h2 {
        font-size: 1.2rem;
    }

    .facility-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: 10px;
    }

    .facility-card {
        width: 140px;
        height: 140px;
        margin: 0 auto; /* Memastikan kartu berada di tengah */
    }

    .facility-icon {
        width: 50px;
        height: 50px;
    }


    .description-container p {
        font-size: 1rem;
        line-height: 1.5;
    }
}

/* Description Section */
.description-container {
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
    text-align: justify;
}

.description-container p {
    font-size: 1rem;
    line-height: 1.5;
    color: #000000;
    text-align: justify; /* Memastikan teks justify */
}

/* Mengatur layout price di perangkat mobile */
@media (max-width: 768px) {
    .price-container {
        padding: 1.5rem;
    }

    .price-container h4 {
        font-size: 1.5rem;
        color: #333;
    }

    .price-container ul li {
        font-size: 1rem;
        margin-bottom: 5px;
    }

    .btn-booking {
        font-size: 0.9rem;
        padding: 0.8em 1.5em;
    }

    .contact-link {
        font-size: 0.9rem;
        color: #444;
    }
}

.harga-section {
    margin-left: calc(50% - 50vw);
    width: 100vw;
    min-height: 100vh;
    padding-top: 100px;
    position: relative; /* Agar overlay bekerja dengan baik */
    background-image: url('../images/fasilitas/viewkost.jpeg'); /* Sesuaikan path dengan URL gambar */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.harga-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(21, 52, 72, 0.575);
    opacity: 0.8; /* Sesuaikan tingkat transparansi (0.1 - 1) */
    z-index: 1; /* Pastikan overlay ada di atas gambar */
}

/* Konten di dalam harga section */
.harga-section .container {
    position: relative;
    z-index: 2; /* Memastikan konten ada di atas overlay */
}

.row-background {
    background-color: rgb(255, 255, 255,0.9); /* Ganti dengan warna atau background lain yang Anda inginkan */
    padding: 20px; /* Tambahkan padding jika diperlukan */
    border-radius: 8px; /* Tambahkan border-radius untuk efek sudut melengkung */
}

.title-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-section i {
    font-size: 1.5rem;
    cursor: pointer;
    transition: transform 0.2s;
}

#love-icon {
    color: #e42127;
}

#share-icon {
    color: #333;
}

/* Price Section */
.price-container {
    width: 100%;
    height: 440px;
    border-radius: 12px;
    background-color: #153448; /* Background price container sesuai palet */
    color: #ffffff; /* Teks kontras */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.price-container h4 {
    font-size: 25px;   
    font-weight: bold;
    color: #DFD0B8;
    margin-bottom: -40px; /* Menghilangkan margin bawah dari h4 */
}

.price-container hr {
    border: 0.5px solid #DFD0B8;
    margin-bottom: -40px;
}

.price-list {
    color: #DFD0B8;
    padding-left: 0;
    list-style: none;
    font-size: 0.9rem;
    line-height: 1.8;
    margin: 0;
    
}

.price-list li {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.duration {
    margin-right: 10px; /* Memberi jarak antara durasi dan harga */
}

.price {
    text-align: right; /* Posisi harga di kanan */
}

.btn-booking {
    background-color: #948979;
    color: #e3ba33;
    border-radius: 12px;
    border: none;
    font-weight: bold;
    width: 100%;
    padding: 0.8rem;
    margin-top: -40px;
    margin: 1rem 0; /* Jarak antara tombol dan elemen lainnya */
}

.contact-link {
    font-size: 0.9rem;
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.contact-link i {
    margin-right: 0.5rem;
}

.btn-booking:hover {
    background-color: #715f45; /* Warna hover tombol */
}

.payment-section {
    margin-left: calc(50% - 50vw);
    width: 100vw;
    padding-top: 5px;
    background-color: #DFD0B8;
    min-height: 80vh;
}

.payment-section h4{
    font-size: 30px;
}

.payment-section p{
    font-size: 18px;
}

.bank-card {
    background-color: #153448;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 10px;
}

.bank-card h5 {
    color: #DFD0B8; /* Warna judul bank */
    margin-bottom: 0.5rem;
}

.bank-card p {
    color: #ffffff; /* Warna teks sekunder */
    margin: 0;
}

.bank-logo {
    background-color: #ffffff;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bank-logo img {
    margin: 5px;
    width: 65px;
    height: 65px;
    object-fit: contain;
}

